<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>irshad</title>
</head>
<body>
<h1>MUHAMMED IRSHADALI</h1>
<h2 >THOTTAKKARA (H) PERIMBALAM</h2>
<h2 >ANAKKAYAM, MALAPPURAM</h2>
<h2 >ATHENA ERUDITION</h2>
<h3><u>LANGUAGES</u></h3>
<ul>
    <li>python</li>
    <li>java</li>
    <li>c++</li>
    <li>c</li>
    <li>andoid</li>
    <li>js</li>
    <li>html</li>
</ul>
<table border="1">
    <th>QUALIFICATION</th>
    <th>BOARD</th>
    <th>YEAR OF PASS</th>
    <tr>
        <td>SSLC</td>
        <td>STATE SYLLABUS</td>
        <td>2016</td>
    </tr>

    <tr>
        <td>COMPUTER SCIENCE</td>
        <td>HSE</td>
        <td>2018</td>
    </tr>

    <tr>
        <td>BCA</td>
        <td>CALICUT UNIVERSITY</td>
        <td>2021</td>

    </tr>
</table>


</body>
</html>