<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
        background-image:
        url('a5f554cd6fb9cc4d1b9d9818c05fe297.jpg');
        }
    </style>
    <title>shaheer</title>
</head>
<body>
<h1 align="center" >MUHAMMED SHAHEER</h1>
<h2 align="center">THARAMANNIL (H) VAYAPPARAPPADI</h2>
<h2 align="center">MANJERI (PO) MALAPPURAM</h2>
<h2 align="center">ATHENA ERUDITION</h2>
<h3 align="center"><u>LANGUAGES</u></h3>
<ol ><li>python</li>
<li>html</li>
<li>c++</li>
<li>c</li>
<li>java</li>
<li>js</li>
<li>android</li></ol>
<table align="center" border="1">
    <th>QUALIFICATION</th>
    <th>BOARD</th>
    <th>YEAR OF PASS</th>
    <tr>
        <td>SSLC</td>
        <td>STATE SYLLABUS</td>
        <td>2016</td>
    </tr>

    <tr>
        <td>COMPUTER SCIENCE</td>
        <td>HSE</td>
        <td>2018</td>
    </tr>

    <tr>
        <td>BCA</td>
        <td>CALICUT UNIVERSITY</td>
        <td>2021</td>

    </tr>
</table><br>
    <center>
<video  width="500" height="300" controls>
    <source src="VID-20181117-WA0008.mp4" type="video/mp4">
</video></center><br><br>
<center>
<audio  controls>
    <source src="never let you go.mp3" type="audio/mp3">
</audio></center>
</body>
</html>
